.wave {
    position: relative;
    height: 57px;
    /* width: 600px; */
    background: #e0efe3;
    margin: 0 auto;
  }
  .wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 57%;
    height: 80px;
    background-color: #ffffff;
    right: -5px;
    top: 27px;
  }
  .wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 96% 50%;
    width: 50%;
    height: 51px;
    background-color: #e0efe3;
    left: 0;
    top: 26px;
  }

  .question-container{
    height: 70px;
    background: #e0efe3;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 550;
    height: auto;
    padding-top: 24px;
    word-break: break-word;
    padding: 32px 61px;
    padding-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .p-0{
      padding: 0;
  }

  .answers-container{
    padding: 18px 23px;
    margin-bottom: 0px;
  }

  .answers-container li{
    list-style: none;
    border: 1px solid #ccc!important;
    border-radius: 100px;
    display: inline-block;
    width: 49%;
    min-height: 54px;
    margin-top: 6px;
    text-align: center;
    padding-top: 12px; 
    padding-bottom: 12px;
    cursor: pointer;
  }

  .answers-container li:nth-child(odd){
    margin-right: 6px;
  }

  .correctOptionClass{
    background-color:green; 
  }

  .wrongOptionClass{
    background-color:red; 
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .answers-container li{
      list-style: none;
      border: 1px solid #ccc!important;
      border-radius: 100px;
      display: inline-block;
      width: 100%;
      min-height: 54px;
      margin-top: 6px;
      text-align: center;
      padding-top: 12px; 
    }

    .answers-container li:nth-child(odd){
      margin-right: 0px;
    }
  }

  .next-question{
    width: 100%;
    border-radius: 100px;
    height: 54px;
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .score{
    border: 1px solid #ccc!important;
    border-radius: 100px;
    margin: 0 auto;
    width: 32%;
    height: 45px;
    text-align: center;
    padding-top: 10px;
  }


  .game-level-info{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
  }

  .timer-section{
    text-align: center;
    margin-bottom: 15px;
  }

  .score-card{
    margin-top: 58px;
    /* height: 400px; */
    box-shadow: 1px 10px 18px 0px #888888;
  }

  .score-card-header{
    background: #88f89e;
    height: 147px;
    display: block;
    text-align: center;
    padding: 48px 0px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: white;
    opacity: 0.95;
    background: linear-gradient(155deg, #85e36e 60%, #8df274 40%);
    border-bottom-right-radius: 34px;
  }

  .score-card-details{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 550;
  }

  td:first-child{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 550;
    color:#5a5050;
  }

  td:nth-child(2){
    font-family: sans-serif;
    font-size: 18px;
    word-wrap: break-word;
  }
  
  .app-title{
    text-align: center;
    margin: 21px 0px;
  }

  .form-btn{
    text-align: center;
    padding: 22px 0px;
  }

  .form-btn button{
    width: 38%;
  }